/* Custom stylesheet by Rigel Software Inc. for lovewhatyoudo.ca */

:root {
  --breakpoint-desktop-and-above: 1050px;
  --breakpoint-tablet-and-above: 768px;
  --color-bg-light: #f2f2f2;
  --color-text-primary: #232323;
  --color-white: #fafafa;
  --color-grey-light: #c0c0c0;
  --color-grey-medium: #757575;
  --color-grey-dark: #343434;
  --color-blue-light: #0096d5; /*not OK as text on white*/
  --color-blue-medium: #005499; /*for links/buttons*/
  --color-blue-dark: #203A72;
  --color-pink-light: #eb0085; /*not OK as text on white*/
  --color-pink-medium: #be2070; /*only OK as large text on white*/
  --color-pink-dark: #751c53;
  --color-green-light: #bed630;
  --color-green-medium: #42a655;
  --color-green-dark: #255f36;
  --color-orange: #e87725;
  --text-size-body: 18px;
  --text-size-medium: 1.25rem;
  --text-size-large: 1.5rem;
  --text-size-xlarge: 1.75rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: var(--text-size-body);
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-primary);
  font-family: 'Figtree', sans-serif;
  font-size: var(--text-size-body);
  overflow-x: hidden;
}

p {
  line-height: 1.75;
  max-width: 75ch;
  text-wrap: pretty;
}

p + p {
  margin-top: 1.5rem;
}

.heading-primary {
  font-size: var(--text-size-medium);
  font-weight: 500;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.heading-secondary {
  font-size: var(--text-size-medium);
  font-weight: 700;
}

.list-unstyled {
  list-style: none;
}

.list-bulleted {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: disc;
  margin-inline-start: 1rem;
  margin-top: 1rem;
}

.list-bulleted li {
  line-height: 1.5;
}

/* Nested list */
.list-bulleted ul {
  padding-left: 1.5rem;
}

.list-bulleted li::marker {
  color: var(--color-grey-medium);
}

@media (min-width: 768px) {
  .list-bulleted li li {
    line-height: 1.5;
    margin-inline-start: 1.5rem;
  }
}

.list-bulleted + p {
  margin-top: 1.5rem;
}

.skip-link {
  background: #dcdee5;
  font-weight: 900;
  height: 1px;
  position: absolute;
  left: -999px;
  overflow: hidden;
  padding: 1em;
  top: auto;
  text-align: center;
  width: 1px;
  z-index: 10000;
}

.skip-link:focus {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  height: auto;
  left: 1rem;
  right: 1rem;
  outline: 2px solid #915865;
  padding: 2em;
  top: 1rem;
  width: auto;
}

/* Navigation */
.logo-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.logo-image {
  height: 40px;
  width: auto;
  vertical-align: middle;
}

.logo-title {
  display: inline;
  font-size: var(--text-size-medium);
  font-weight: 700;
  letter-spacing: 0.05rem;
  vertical-align: middle;
}

.header {
  align-items: center;
  background-color: var(--color-white);
	box-shadow: 0 2px 8px 0 rgba(30, 58, 95, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 5vw;
	position: sticky;
	top: 0;
  z-index: 9999;
}

.main-menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
  gap: 0.5rem;
}

.nav-item a {
	display: block;
	padding: 0.5rem;
	text-decoration-color: transparent;
	text-decoration-thickness: 3px;
	text-underline-offset: 10px;
	color: var(--color-text-primary);
	transition: all 300ms ease-in-out;
}

.nav-item a:focus,
.nav-item a:hover,
.nav-item a:active {
	color: var(--color-blue-medium);
	text-decoration-color: var(--color-blue-medium);
}

.menu-button {
	display: none;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

svg {
	display: block;
	width: 3rem;
	height: 3rem;
	stroke: var(--color-text-primary);
	transition: stroke 300ms ease-in-out;
}

@media (max-width: 768px) {
	.menu-button {
		display: block;
		border-radius: 5px;
		transition: background-color 300ms ease-in-out;
	}

	.menu-button:focus,
	.menu-button:hover,
	.menu-button:active {
		background-color: var(--color-blue-medium);
	}

	.menu-button:focus svg,
	.menu-button:hover svg,
	.menu-button:active svg {
		stroke: var(--color-white);
	}

	.close-button {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
	}

	.open-button {
		margin-left: auto;
	}

	.menu-active .open-button {
		visibility: hidden;
	}

	.navigation {
		visibility: hidden;
		opacity: 0;
		position: fixed;
		top: 0;
		left: 100%;
		width: 200px;
		height: 100vh;
		box-shadow: 0 0 0 0;
		background-color: var(--color-white);
		transform: translateX(0);
		transition: transform 300ms ease-in-out;
	}

	.menu-active .navigation {
		visibility: visible;
		opacity: 1;
		box-shadow: 0 2px 8px 0 rgba(30, 58, 95, 0.1);
		transform: translateX(-100%);
	}

	.main-menu {
		flex-direction: column;
    margin-left: 1rem;
	}

	.nav-item {
		width: 100%;
		text-align: left;
	}
}

/* end Navigation */

.centered-wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.section {
  margin-block: 2.5rem;
}

.diagonal {
  --skew-angle: -7deg;
  isolation: isolate;
  margin-block: 5rem;
  padding-block: 2rem;
  position: relative;
}

.diagonal::after {
  background: linear-gradient(35deg, var(--color-pink-light), var(--color-blue-medium), var(--color-green-light));
  content: '';
  inset: 0;
  position: absolute;
  transform: skewY(var(--skew-angle));
  z-index: -1;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-left: 5vw;
  padding-right: 5vw;
}

@media (min-width: 768px) {
  .grid-3-columns {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1050px) {
  .grid-3-columns {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

.services-card {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  text-align: left;
}

.about-bio {
  background-color: var(--color-grey-dark);
  padding: 2rem 5vw;
}

.bio-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .bio-container {
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 1050px) {
  .about-bio {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.bio-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio-title {
  color: var(--color-grey-light);
  font-size: var(--text-size-xlarge);
  font-weight: 700;
  letter-spacing: 0.25rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.bio-subtitle {
  font-size: var(--text-size-large);
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.125rem;
  margin-bottom: 2rem;
}

.bio-text {
  color: var(--color-bg-light);
  padding: 2rem;
}

.footer {
  background-color: var(--color-text-primary);
  color: var(--color-bg-light);
  padding: 2rem 5vw;
}
