*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
  background-color: #f2f2f2f2;
  color: #232323;
  /* font-family: "Lato", sans-serif; */
  font-size: 18px;
  overflow-x: hidden;
}

p {
  line-height: 1.75;
  max-width: 75ch;
  text-wrap: pretty;
}
p + p {
  margin-top: 1.5rem;
}
