/* Custom stylesheet by Rigel Software Inc. for lovewhatyoudo.ca */

:root {
  --color-bg-light: #f2f2f2;
  --color-bg-dark: #232323;
  --color-text-primary: #343434;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-off-white: #fafafa;
  --color-grey-light: #C4C4C4;
  --color-grey-medium: #757575;
  --color-grey-dark: #555555;
  --color-blue-light: #0096d5;
  --color-blue-medium: #005499;
  --color-blue-dark: #203A72;
  --color-pink-light: #eb0085; /* use for links/buttons on dark background */
  --color-pink-medium: #be2070; /* use for links/buttons on light background */
  --color-pink-dark: #751c53;
  --color-green-light: #bed630;
  --color-green-medium: #42a655;
  --color-green-dark: #255f36;
  --color-orange: #e87725;
  --text-size-body: 18px;
  --text-size-small: 16px;
  --text-size-medium: 1.25rem;
  --text-size-large: 2rem;
  --text-size-xlarge: 4rem;
}

/* --- Global Styles --- */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: var(--text-size-body);
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-primary);
  font-family: 'Figtree', sans-serif;
  font-size: var(--text-size-body);
  overflow-x: hidden;
}

p {
  line-height: 1.5;
  text-wrap: pretty;
}

p + p {
  margin-top: 1.5rem;
}

p + .heading-primary,
p + .heading-secondary,
p + .heading-tertiary,
.list-bulleted + .heading-primary,
.list-bulleted + .heading-secondary,
.list-bulleted + .heading-tertiary {
  margin-top: 2rem;
}

.heading-primary {
  font-size: clamp(var(--text-size-medium), 1.4167rem + 0.381vw, var(--text-size-large));
  font-weight: 600;
  letter-spacing: 0.125rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.heading-secondary {
  font-size: var(--text-size-medium);
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.125rem;
  margin-bottom: 1.5rem;
}

.heading-tertiary {
  font-size: var(--text-size-medium);
  font-weight: 700;
  letter-spacing: 0.0125rem;
  margin-bottom: 1rem;
}

.list-unstyled {
  list-style: none;
}

.list-bulleted {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: disc;
  margin-inline-start: 2rem;
  margin-top: 0.5rem;
}

.list-bulleted li {
  line-height: 1.5;
}

.button {
  padding: 1rem 2rem;
  background-color: var(--color-pink-medium);
  color: var(--color-bg-light);
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: var(--text-size-body);
  font-weight: 600;
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  text-decoration: none;
  transition: background-color 200ms ease-in-out;
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--color-pink-dark);
}

.link-primary {
  text-decoration-color: var(--color-pink-medium);
	text-decoration-thickness: 2px;
	text-underline-offset: 6px;
	color: var(--color-text-primary);
	transition: all 200ms ease-in-out;
}

.link-primary:focus,
.link-primary:hover,
.link-primary:active {
	color: var(--color-pink-medium);
	text-decoration-color: var(--color-pink-dark);
}

/* Nested list */
.list-bulleted ul {
  padding-left: 1.5rem;
}

.list-bulleted li::marker {
  color: var(--color-grey-medium);
}

@media (min-width: 768px) {
  .list-bulleted li li {
    line-height: 1.5;
    margin-inline-start: 1.5rem;
  }
}

.list-bulleted + p {
  margin-top: 1.5rem;
}

.skip-link {
  background: var(--color-bg-dark);
  color: var(--color-bg-light); 
  font-weight: 600;
  height: 1px;
  position: absolute;
  left: -999px;
  overflow: hidden;
  padding: 1em;
  top: auto;
  text-align: center;
  width: 1px;
  z-index: 10000;
}

.skip-link:focus {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  height: auto;
  left: 1rem;
  right: 1rem;
  outline: 2px solid var(--color-pink-medium);
  padding: 2em;
  top: 1rem;
  width: auto;
}

.centered-wrapper-outer {
  padding-left: 4vw;
  padding-right: 4vw;
}

@media (min-width: 1250px) {
  .centered-wrapper-outer {
    padding-left: 16vw;
    padding-right: 16vw;
  }
}

/* --- Grid --- */
.grid-12-columns {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.center-column {
  grid-column: 1 / -1;
}

@media (min-width: 768px) {
  .grid-12-columns {
    grid-template-columns: repeat(12, 1fr);
  }

  .center-column {
    grid-column: 4 / span 6;
  }
}

/* --- Navigation --- */

.logo-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logo-image {
  height: 44px;
  width: auto;
  vertical-align: middle;
}

.logo-title {
  color: var(--color-black);
  display: inline;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: var(--text-size-medium);
  font-weight: 300;
  vertical-align: middle;
}

.logo-title-bold {
  text-transform: uppercase;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-off-white);
	box-shadow: 0 2px 8px 0 rgba(30, 58, 95, 0.1);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
	position: sticky;
	top: 0;
  z-index: 9999;
}

.main-menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
  gap: 0.5rem;
}

.nav-item a {
  font-size: var(--text-size-body);
  font-weight: 600;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
	display: block;
	padding: 0.5rem;
	text-decoration-color: transparent;
	text-decoration-thickness: 3px;
	text-underline-offset: 10px;
	color: var(--color-grey-dark);
	transition: all 200ms ease-in-out;
}

.nav-item a:focus,
.nav-item a:hover,
.nav-item a:active {
	color: var(--color-pink-medium);
	text-decoration-color: var(--color-pink-medium);
}

.menu-button {
	display: none;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

svg {
	display: block;
	width: 3rem;
	height: 3rem;
	stroke: var(--color-text-primary);
	transition: stroke 200ms ease-in-out;
}

@media (max-width: 768px) {
	.menu-button {
		display: block;
		transition: background-color 200ms ease-in-out;
	}

	.menu-button:focus,
	.menu-button:hover,
	.menu-button:active {
		background-color: var(--color-pink-medium);
	}

	.menu-button:focus svg,
	.menu-button:hover svg,
	.menu-button:active svg {
		stroke: var(--color-off-white);
	}

	.close-button {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
	}

	.open-button {
		margin-left: auto;
	}

	.menu-active .open-button {
		visibility: hidden;
	}

	.navigation {
		visibility: hidden;
		opacity: 0;
		position: fixed;
		top: 0;
		left: 100%;
		width: 200px;
		height: 100vh;
		box-shadow: 0 0 0 0;
		background-color: var(--color-off-white);
		transform: translateX(0);
		transition: transform 200ms ease-in-out;
	}

	.menu-active .navigation {
		visibility: visible;
		opacity: 1;
		box-shadow: 0 2px 8px 0 rgba(30, 58, 95, 0.1);
		transform: translateX(-100%);
	}

	.main-menu {
		flex-direction: column;
    margin-left: 1rem;
	}

	.nav-item {
		width: 100%;
		text-align: left;
	}
}

/* --- Main Content --- */

.intro {
  background-color: var(--color-white);
  padding-bottom: 4rem;
  padding-top: 4rem;
}

@media (min-width: 768px) {
  .intro {
    padding-bottom: 8rem;
    padding-top: 8rem;
  }
}

.intro-title {
  font-size: clamp(var(--text-size-medium), 1rem + 3.4286vw, var(--text-size-large));
  font-weight: 900;
  letter-spacing: 0.0125rem;
  line-height: normal;
  margin-bottom: 1rem;
  margin-top: 0;
}

.text-highlighted {
  color: var(--color-grey-dark);
}

.intro-subtitle {
  font-size: var(--text-size-medium);
  margin-top: 2rem;
}

.section {
  margin-top: 4rem;
  scroll-margin-top: 100px;
}

@media (min-width: 768px) {
  .section {
    margin-top: 8rem;
  }
}

.diagonal {
  --skew-angle: -7deg;
  isolation: isolate;
  margin-block: 4rem;
  padding-block: 4rem;
  position: relative;
}

.diagonal::after {
  background: linear-gradient(35deg, var(--color-pink-light), var(--color-blue-medium), var(--color-green-light));
  content: '';
  inset: 0;
  position: absolute;
  transform: skewY(var(--skew-angle));
  z-index: -1;
}

.services-card-grid {
  grid-template-columns: minmax(auto, max-content);
  justify-content: center;
}

@media (min-width: 1024px) {
  .services-card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.services-card {
  background-color: var(--color-white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--color-white);
  font-size: var(--text-size-small);
  padding: 2rem;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .services-card {
    box-shadow: 0 4px 24px 0 rgba(55, 55, 65, 0.1);
    transition: box-shadow 0.2s, border-color 0.2s;
  }
  .services-card:hover, .services-card:focus-within {
    box-shadow: 0 8px 32px 0 rgba(30, 58, 95, 0.75);
    border-color: var(--color-grey-dark);
  }
}

.services-list {
  margin-inline-start: 1rem;
}

.about-bio {
  background-color: var(--color-bg-dark);
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.bio-image {
  grid-column: 1 / -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bio-text {
  color: var(--color-bg-light);
  grid-column: 1 / -1;
  padding-block: 2rem;
}

.bio-title {
  margin-bottom: 0.5rem;
}

.bio-subtitle {
  color: var(--color-grey-light);
  margin-top: 0;
}

@media (min-width: 768px) {
  .bio-image {
    grid-column: 1 / span 4;
  }

  .bio-text {
    grid-column: 5 / span 8;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.form-label {
  color: var(--color-grey-dark);
  font-weight: 600;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: var(--color-white);
  border: none;
  padding: 0.5rem;
  font-family: 'Figtree', sans-serif;
  font-size: var(--text-size-body);
}

.footer {
  background-color: var(--color-grey-light);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  column-gap: 2rem;
  row-gap: 4rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

@media (min-width: 868px) {
  .footer-wrapper {
    align-items: end;
    flex-direction: row;
  }
}

.footer-logo {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media (min-width: 350px) {
  .footer-logo {
    grid-template-columns: minmax(53px, 100px) 3fr;
  }
}

.footer-logo-image {
  width: 50%;
}

@media (min-width: 350px) {
  .footer-logo-image {
    width: 100%;
  }
}

.footer-logo-title, .footer-logo-subtitle {
  line-height: 1;
  margin: 0;
}

.footer-logo-title {
  color: var(--color-black);
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 300;
  font-size: clamp(var(--text-size-body), 2vw + 1.5rem, var(--text-size-xlarge));
  letter-spacing: -1px;
}

.footer-logo-subtitle {
  color: var(--color-grey-dark);
  font-size: clamp(var(--text-size-small), 1vw + 0.5rem, var(--text-size-medium));
  font-weight: 600;
  margin-top: 0.5rem;
}

.footer-logo > p {
  line-height: 1.25;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .footer-links {
    flex-direction: row;
  }
}

a.footer-link {
  text-decoration-color: transparent;
}

.social-image {
  height: 20px;
  width: auto;
  vertical-align: baseline;
}

.social-image:hover, .social-image:focus, .social-image:active {
  filter: brightness(0.8);
}

.footer-copyright {
  padding-bottom: 1rem;
}

.footer-hr {
  border-bottom: 1px solid var(--color-grey-medium);
  margin-bottom: 2rem;
}

.feature {
  background-color: var(--color-off-white);
  padding-block: 4rem;
}

@media (min-width: 768px) {
  .feature {
    padding-block: 8rem;
  }
}

.feature-header {
  grid-column: 1 / span 4;
}

.feature-subtitle {
  font-size: var(--text-size-medium);
  font-weight: 700;
}

.feature-title {
  font-size: var(--text-size-large);
  font-weight: 900;
}

.feature-body {
  grid-column: 5 / span 8;
  /* max-width: 52ch; */
}
